<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
  </div>

  <ion-card>
    <ion-card-header class="center">
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input
              name="name"
              [(ngModel)]="data.name"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input
              name="email"
              [(ngModel)]="data.email"
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input
              autocomplete="off"
              name="password"
              [(ngModel)]="data.password"
              type="password"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Confirmar senha</ion-label>
            <ion-input
              name="password_confirmation"
              autocomplete="off"
              [(ngModel)]="data.password_confirmation"
              type="password"
            ></ion-input>
          </ion-item>

          <ion-item lines="none">
            Já possui uma conta? <a routerLink="/login">Login</a>
          </ion-item>

          <ion-button
            expand="block"
            shape="round"
            color="success"
            (click)="signup()"
            >Criar</ion-button
          >
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
