<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="home">
  <ion-card>
    <ion-card-header class="center">
      <ion-card-title>Bem vindo ao Gestor de Finanças</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="danger" class="marginTop" (click)="logoutAction()">
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="center">
      <ion-card-title>Extrato e Gráfico </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Data Inicio</ion-label>
          <ion-datetime
            displayFormat="YYYY MM DD"
            pickerFormat="YYYY-MM-DD"
            [(ngModel)]="form.dateStart"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data Fim</ion-label>
          <ion-datetime
            displayFormat="YYYY MM DD"
            pickerFormat="YYYY-MM-DD"
            [(ngModel)]="form.dateEnd"
          ></ion-datetime>
        </ion-item>
        <ion-button
          expand="block"
          shape="round"
          color="primary"
          class="marginTop"
          (click)="submit()"
        >
          Consultar
        </ion-button>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <hr />
            <h1>Extrato</h1>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of statements">
          <ion-col>
            <ion-icon [name]="item.type === 'in' ? 'add' : 'remove'"></ion-icon>
            {{item.date_launch}} - {{item.name}}<br />
            <ion-list>
              <ion-item>
                <ion-note slot="end" [color]="item.type === 'in' ? 'primary' : 'danger'">R$ {{item.value}}</ion-note>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="categoriesPay" style="display: block;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr />
      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="categoriesReceive" style="display: block;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
